app = 'back-cool-river-251'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 5006
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512

[env]
  PORT=5006
  XAI_MODEL='grok-4-1-fast-reasoning'
  GROQ_MODEL='openai/gpt-oss-20b'
  OPENAI_MODEL='gpt-5.2-2025-12-11'
  DEBUG='false'
